{% extends 'base.html.twig' %}
{% block title %}beheer lessen{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/lessenbeheer.css')}}">
{% endblock %}
{% block body %}
    <div class="container">
    <table class="table table-bordered">
        <h2>Lessen beheer</h2>
        <thead>
        <th>Datum</th>
        <th>Tijd</th>
        <th>plaats</th>
        <th>Sport</th>
        <th>Aantal ingeschreven deelnemers</th>
        <th>Deelnemerlijst</th>
        <th>Aanpassen</th>
        </thead>
        {% for les in lessen %}
            <tr>
                <td>{{ les.getDate2() }}</td>
                <td>{{ les.getTime2() }}</td>
                <td>{{ les.getLocation() }}</td>
                <td>{{ les.getTrainingId().getName }}</td>
                <td>{{ les.getMaxPersons() }}</td>
                <td>Deelnemers</td>
                <td><a href="{{ path('delete_route_name', {'id': les.id }) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}