{% extends 'base.html.twig' %}
{% block title %}beheer lessen{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/lessenbeheer.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <table class="table table-bordered">
            <h2>Leden beheer</h2>
            <thead>
            <th>Naam</th>
            <th>Email</th>
            <th>Geboortedatum</th>
            <th>gebruikersnaam</th>
            <th>Role</th>
            <th>wachtwoord reset</th>
            <th>verwijderen</th>
            </thead>
            {% for lid in leden|sort((a, b) => a.firstname <=> b.firstname)|sort((a, b) => b.getRole2 <=> a.getRole2) %}
                {% if lid.id != app.user.id %}
                <tr>
                    <td>{{ lid.firstname|capitalize }} {{ lid.preprovision }} {{ lid.lastname|capitalize }}</td>
                    <td>{{ lid.email }}</td>
                    <td>{{ lid.dateofbirth|date('Y-m-d') }}</td>
                    <td>{{ lid.username }}</td>
                    <td>{{ lid.getRole2|capitalize }}</td>
                    <td><a href="{{ path('resetPassword', {'id': lid.id }) }}">Reset wachtwoord</a></td>
                    <td><a href="{{ path('deleteLid', {'id': lid.id }) }}">Delete</a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}