{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css')}}">
{% endblock %}
{% block header %}
    <div class="container-fluid">
        <div class="row">
            <div class="logo">
                <img class="logo" src="{{ asset('img/logo.png') }}" alt="logo">
            </div>
            <div class="col">
                <h1>Training centrum</h1>
                <h1>Den Haag</h1>
            </div>
            <div class="col">
                <div class="acount">
                    {% if app.user %}
                        <p>Welkom {{ app.user.username }}</p>
                        <p>{{ app.user.getRole }}</p>
                        <a href="{{ path('app_logout') }}"><button>uitloggen</button></a>
                        {% else %}
                            <a href="{{ path('app_login') }}"><button>inloggen</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% include 'nav.html.twig' %}
{% block fotos %}
    <div class="container-fluid">
        <div class="card-group">
            <div class="card"><img src="{{ asset('img/kickboksen.png') }}"></div>
            <div class="card"><img src="{{ asset('img/mma.png') }}"></div>
            <div class="card"><img src="{{ asset('img/stootzak training.png') }}"></div>
        </div>
    </div>
{% endblock %}