{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css')}}">
{% endblock %}
{% block header %}
    <div class="container-fluid">
        <div class="row">
            <div class="logo">
                <img class="logo" src="{{ asset('img/logo.png') }}" alt="logo">
            </div>
            <div class="col">
                <h1>Training centrum</h1>
                <h1>Den Haag</h1>
            </div>
            <div class="col">
                <div class="acount">
                    {% block acount %}
                        <p>Welkom "naam"</p>
                        <p>"role"</p>
                        <button>uitloggen</button>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block nav %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">inschrijven op les</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">overzicht inschijvingen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">gegevens lid wijzigen</a>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block fotos %}
    <div class="container-fluid">
        <div class="card-group">
            <div class="card"><img src="{{ asset('img/kickboksen.png') }}"></div>
            <div class="card"><img src="{{ asset('img/mma.png') }}"></div>
            <div class="card"><img src="{{ asset('img/stootzak training.png') }}"></div>
        </div>
    </div>
{% endblock %}