{% extends 'base.html.twig' %}
    {% block title %}Profiel{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    {% endblock %}
    {% block body %}
        <div class="container justify-content-center">
            <div class="row">
                <table>
                    <thead>
                    <th colspan="3" style="text-align: left">
                        <h3>{{ app.user.firstName|capitalize }} {{ app.user.preprovision }} {{ app.user.lastName|capitalize }}</h3>
                    </th>
                    </thead>
                    <tr>
                        <td><p>GeboorteDatum</p></td>
                        <td colspan="2" class="tekst">{{ app.user.getDateofbirth2() }}</td>
                    </tr>
                    <tr>
                        <td><p>Gebruikersnaam</p></td>
                        <td colspan="2" class="tekst">{{ app.user.username }}</td>
                    </tr>
                    <tr>
                        <td><p>Man/vrouw</p></td>
                        <td colspan="2" class="tekst">{{ app.user.gender|capitalize }}</td>
                    </tr>
                    <tr>
                        <td><p>adres:</p></td>
                        <td colspan="2" class="tekst"></td>
                    </tr>
                    <tr>
                        <td><p>postcode:</p></td>
                        <td colspan="2" class="tekst"></td>
                    </tr>
                    <tr>
                        <td><p>Woonplaats:</p></td>
                        <td colspan="2" class="tekst"></td>
                    </tr>
                    <tr>
                        <td><p>Email:</p></td>
                        <td colspan="2" class="tekst">{{ app.user.email }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2" class=""><a
                                    href="{{ path('lidgegevensbewerken', {'id': app.user.id }) }})}}"><button>Bewerken</button></a></td>
                    </tr>
                </table>
            </div>
            {% if is_granted('ROLE_USER')and is_granted('ROLE_INSTRUCTEUR') == false %}
            <div class="row" style="margin-top: 10px">
                <table class="table">
                    <thead>
                    <th>Training</th>
                    <th>Datum</th>
                    <th>Tijd</th>
                    <th>Locatie</th>
                    <th>Duur</th>
                    <th>Uitschijven</th>
                    </thead>
                    {% for registration in registrations|sort((a, b) => a.lesson.time <=> b.lesson.time)|sort((a, b) => a.lesson.date <=> b.lesson.date) %}
                        <tr>
                            <td>{{ registration.lesson.training.getName|capitalize }}</td>
                            <td>{{ registration.getLesson().getDate2() }}</td>
                            <td>{{ registration.getLesson().getTime2() }}</td>
                            <td>{{ registration.getLesson().getLocation()|capitalize }}</td>
                            <td>{{ registration.getLesson().getTraining().getDuration2() }}</td>
                            <td>
                                {% if((registration.lesson().getDate() > date('-1days')) and (date()|date_modify('+15 min')|date("H:i") < registration.lesson().getTime()|date("H:i") )) %}
                                    <a href="{{ path('deleteRegistration', {'id': registration.id }) }}">
                                        <button class="margin0">Uitschrijven</button>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    {% endblock %}
